<html>
   <body>
     <p> Hello {{ name }}
     </p>
      <form action = "http://localhost:5000/send_amount" method = "post">
         <p>Enter Sender Addreess:</p>
         <p><input type = "text" name = "sender" /></p>
         <p>Enter Sender Private Key:</p>
         <p><input type = "text" name = "sender_private_key" /></p>

         <p>Enter Receiver Address:</p>
         <p><input type = "text" name = "receiver" /></p>
         <p>Enter Amount (ETH):</p>
         <p><input type = "number" name = "amount" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
