<html>
  <head>
    <!-- Using Booptstrap 4 to center align everything -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <row class="text-center">
      <h1> Welcome </h1>
    </row>

    <row class="text-center">
      <form action = "http://localhost:5000/login" method = "post">
        <row>
          <col>
            <p>Enter Name:</p>
            <p><input type = "text" name = "nm" /></p>
          </col>
        </row>

        <row>
          <col>
            <p><input type = "submit" value = "submit" /></p>
          </col>
        </row>
      </form>
    </row>

    </body>
</html>
