<html>
  <head>
    <!-- Using Booptstrap 4 to center align everything -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <row class="text-center">
      <h1> Hello {{ name }} </h1>
    </row>

    <row class="text-center">
      <form action = "http://localhost:5000/send_amount" method = "post">
        <row>
          <col>
            <p>Enter Sender Addreess:</p>
            <p><input type = "text" name = "sender" /></p>
          </col>

          <col>
            <p>Enter Sender Private Key:</p>
            <p><input type = "text" name = "sender_private_key" /></p>
          </col>
        </row>

        <row>
          <col>
            <p>Enter Receiver Address:</p>
            <p><input type = "text" name = "receiver" /></p>
          </col>
         </row>

         <row>
           <col>
             <p>Enter Amount (ETH):</p>
             <p><input type = "number" name = "amount" /></p>
           </col>
         </row>

         <row>
           <col>
            <p> <input type = "submit" value = "Send ETH"/></p>
           </col>
         </row>
      </form>
    </row>

    </body>
</html>
